.contenido{
    padding: 2rem;
}

.fecha{
    color: var(--primary);
    font-size: 1.8rem;
    font-weight: 500;
}

/* PARA OCULTAR TEXTO DESPUES DE 4 LINEAS */
.descripcion{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    overflow: hidden;
    text-align: justify;
}

.enlace{
    margin-top: 2rem;
    display: block;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 900;
    color: var(--negro);
    border: 2px solid var(--primary);
    padding: 1rem 5rem;     /* 1 arriba y abajo 5 derecha y izquierda */
    transition-property: background-color;
    transition-duration: .3s;
}

.enlace:hover{
    background-color: var(--primary);
    color: var(--blanco)
}

.clase{
    max-width: 90rem;
    margin: 0 auto;
}

.texto{
    white-space: pre-line;
    text-align: justify;
}